@model IEnumerable<Lab2.Models.XmlValidationError>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text=center">
    <h1 class="display-4 text-primary">XML Validator</h1>

    @if (Model.Count() == 0)
    {
        <p>No error found when validating XML file <b>@ViewBag.XmlFileName</b> against the schema <b>@ViewBag.SchemaFileName</b></p>
    }
    else
    {
        <p>The following errors were found when validating XML file <b>@ViewBag.XmlFileName</b> against the schema <b>@ViewBag.SchemaFileName</b></p>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th style="white-space;nowrap;">
                        XML Element
                    </th>
                    <th style="white-space;nowrap;">
                        Error Type
                    </th>
                    <th style="white-space;nowrap;">
                        Line Number
                    </th>
                    <th style="white-space;nowrap;">
                        Column Number
                    </th>
                    <th style="white-space;nowrap;">
                        Error Message
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var error in Model)
                {
                    <tr>
                        <td>
                            @error.Element
                        </td>
                        <td>
                            @error.ErrorType
                        </td>
                        <td>
                            @error.Line
                        </td>
                        <td>
                            @error.Column
                        </td>
                        <td>
                            @error.Message
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }

</div>